* {
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    background-color: #1F2937;
    padding: 15px 200px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

li {
    display: inline;
    padding: 5px 5px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

a {
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.second-container {
display: flex;
justify-content: space-between;
margin-top: 75px;
padding: 25px 10px;
}

    .left-container {
       height: 300px;
       width: 400px;
    }

        .left-container button {
            margin-top: 15px;
            padding: 10px 30px;
            border-radius: 10px;
            border: none;
            background-color: #3882F6;
            color: #F9FAF8;
            font-size: 16px;
            font-weight: 700;
        }

        .left-container p {
            font-size: 18px;
        }

    .right-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 250px;
        width: 500px;
        background-color: grey;
    }

        .right-container .placeholder {
            text-align: center;
        }

h2  {
font-size: 36px;
font-weight: 900;
color: #1F2937;
padding: 25px 200px;
text-align: center;
}

.third-container {
display: flex;
justify-content: center;
padding: 25px 200px;
}

.third-container > .box {
    height: 175px;
    width: 175px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 0 25px;
}

.fourth-container {
    margin: 25px;
    padding: 25px 200px;
}

footer {
    background-color: #1F2937;
}